.item_wrap {
    width: auto;
    margin: 20px 0;
}

.header {
    background: #0087C9;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0 10px;
}

.header_text_total-amount {
    text-align: end;
}

.derection {
    display: flex;
    border-bottom: 1px solid #CDCDCD;
    justify-content: center;
    padding: 10px 0 15px 20px;
    margin: 0 10px;
}

.date_box {
    display: flex;
    padding: 5px 10%;
}

.text_time {
    font-size: 20px;
}

.blue_text {
    color: #0A88CA;
}

.item_main_content {
    padding: 0 10;
    margin: 15px 0;
    border-bottom: 2px solid #0087C9;
}

.button {
    width: 100%;
    height: 50px;
    background-color: #FFB168;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.stops_box  {
    position: relative;
    width: 70%;
    height: 1px;
    background-color: #CDCDCD;
    margin: 12px 0;
}

.stops_box_text {
    position: absolute;
    left: 36%;
    top: -13px;
    color: #FF9B5A;
    height: 25px;
    width: auto;
    background-color: #fff;
    padding: 0 20px;
}